<div class="flex flex-wrap">
  <div class="w-full lg:w-8/12 px-4">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
    >
      <div class="rounded-t bg-white mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
          <h6 class="text-blueGray-700 text-xl font-bold">New Game</h6>
          <button
            class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
            type="button"
          >
            Save
          </button>
        </div>
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form>
          <br />
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Name
                </label>
                <input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                />
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Developer
                </label>
                <input
                  type="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="New York"
                />
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Year
                </label>
                <input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="United States"
                />
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Rating
                </label>
                <input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  value="United States"
                />
              </div>
            </div>
            <div class="w-full lg:w-12/12 px-4">
                <ul>
                    <li class="w-full lg:w-6/12 px-4">
                      <input type="checkbox" id="myCheckbox1" />
                      <label for="myCheckbox1"><img src="assets/img/platform/ps5.jpg" /></label>
                    </li>
                    <li class="w-full lg:w-6/12 px-4">
                  
                      <input type="checkbox" id="myCheckbox2" />
                      <label for="myCheckbox2"><img src="assets/img/platform/xbox.jpg" /></label>
                    </li>
                    <li class="w-full lg:w-6/12 px-4">
                  
                      <input type="checkbox" id="myCheckbox3" />
                      <label for="myCheckbox3"><img src="assets/img/platform/switch.jpg" /></label>
                    </li>
                    <li class="w-full lg:w-6/12 px-4">
                      <input type="checkbox" id="myCheckbox4" />
                      <label for="myCheckbox4"><img src="assets/img/platform/steam.jpg" /></label>
                    </li>
                  </ul>
            </div>
          </div>

          <hr class="mt-6 border-b-1 border-blueGray-300" />

          <br />
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Image
                </label>
                <textarea
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  rows="4"
                >
                        A beautiful UI Kit and Admin for Angular & Tailwind CSS. It is Free
                        and Open Source.
                      </textarea
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-4/12 px-4">
    <app-card-profile></app-card-profile>
  </div>
</div>
